
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userType %><br>
<%= f.select :userType, options_for_select([["Local Expert", "Local Expert"], ["Traveler", "Traveler"]]) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :web %><br>
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :"Phone Number" %><br>
    <%= f.text_field :phoneNumber %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :"Date of Birth" %><br>
    <%= f.date_select :dateBirth, :start_year => 1940 %>
  </div>
  <div class="field">
    <%= f.label :"Receive newsletter" %><br>
    <%= f.select :receiveNewsletter, options_for_select([["Yes", "Yes"], ["No", "No"]]) %>
  </div>
 
  <div class="field">
    <%= f.label :tagline %><br>
    <%= f.text_area :tagline %>
  </div>
  


  <div class="actions">
    <%= 
f.hidden_field :dateCreated, :value => Time.now	
f.submit %>
  </div>
<% end %>
